/*......Home page......*/

body {
  background-color: cadetblue;
  
  margin:50px 100px 50px 100px;
}
.line-break {
  content: " ";
  display: block;
  border: 1px solid grey;
}
#header {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
header a:link {
  cursor: pointer;
  text-decoration: none;
  color: hotpink;
}
h1 {
  font: 50px bold;
  margin: auto;
  padding: auto;
  text-shadow: beige 2px 2px;
}
h6 {
  margin: -15px;
  padding: auto;
}
h2{
    text-align: left;
}
.subtitle {
  text-align: center;
  padding-top: 20px;
}
#images {
  display: grid;
  max-width: 1800px;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 25px;
  justify-content: center;
}
.img-container .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  text-align: center;
}
.caption {
  display: block;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 50px;
  background: rgb(63, 62, 62);
  border-radius: 5px;
  text-align: center;
  font-size: 50px;
}
#main {
  display: flex;
  justify-content: space-around;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin-left: 10vw;
  width: 45vw;
}
.main-img {
  width: 40vw;
  height: 10vh;
}

.blog-post {
  display: inline-block;
  border-radius: 10px;
  background-color: burlywood;
  font: 15px bold;
}
#side-bar {
  width: 20vw;
  text-align: left;
  margin-right: 12vw;
  margin-left: 20px;
}
.top-blog {
  text-align: justify;
  margin: 0 auto;
}

#bottom-blog > p {
  text-align: justify;
}

#image-blog {
  float: left;
  width: 7vw;
}

/*-----buttons------*/
.tell-more {
  display: inline-block;
  width: 15vw;
  border-radius: 10px;
  background-color: burlywood;

  font: 20px bold;
  justify-content: center;
}
.tell-more:hover {
  cursor: pointer;
  background-color: green;
  color: rgb(255, 255, 255);
}
.continue-reading {
  display: inline-block;
  width: 20vw;
  border-radius: 10px;
  background-color: burlywood;
  font: 15px bold;
  justify-content: left;
}
.continue-reading:hover {
  cursor: pointer;
  background-color: green;
  color: rgb(255, 255, 255);
}
.learn-more {
  display: inline-block;
  border-radius: 10px;
  background-color: burlywood;
  font: 15px bold;
  justify-content: left;
}
.learn-more:hover {
  cursor: pointer;
  background-color: green;
  color: rgb(255, 255, 255);
}

#footer {
  background-color: grey;
  display: flex;
}


/*-----Blog Post Page-----*/

#main .blog_post_page {
  margin-right: 10vw;
}
#main .blog_post_page h4 {
  text-align: center;
}
#main .blog-post-page img {
  border: 3px solid rgba(168, 168, 167, 0.4);
  width: 60vw;
}

/*------Cont Reading Page------*/
#main .cont_reading_page {
  display: flex;
  flex-direction: column;
}

/*------Learn More Page------*/
#main .learn_more_page{
    display: flex;
  flex-direction: column;
}

